!!!
%html
  %head
    %title Forum Thomasa
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %body
      - if user_signed_in?
        = link_to "New Post", new_post_path
      - else
        = link_to "Sign Up", new_user_registration_path
        = link_to "Sign In", new_user_session_path




      %p.notice= notice
      %p.alert= alert
      = yield




